@font-face {
    font-family: 'irsans' ;
    font-style: normal;
    font-weight: 400;
    src: url('fonts/iranian-sans.woff') format('woff');
}
html {height: 100%;} 
body {
    margin: 0px; height: 100%;
    background-color: teal;
    color: black;
}
.menu { 
    display: flex;
    justify-content: space-between;
    background-color: peachpuff;
    position: fixed;
    width: 100%;
    height: 15%;
    top: 0px;}.hidden {display: none;}

.items {
    height: 100%;
   padding-top: 20%;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.item {
   padding-top: 10%;
   width: 100%;
   height: 20%;
   display: flex;
   flex-direction: column;
   align-items: center;

   
    }

.itemInfo {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.plus {width: auto; height: 145px;}
.subtrac {width: auto; height: 140px;}
.textInfo {font-size: 3em; font-family: irsans;}
.edit {width: auto; height: 155px;}
.del {width: auto; height: 145px;}

.navar {
    display: grid;
    direction: ltr;
    width: 95%;
    min-height: 40px;
    max-height: auto;
    border:3px solid black;
    background-color: rgba(0, 0, 0, 0.082);
    border-radius: 40px;
}
.fraktion {
    background-color: blue;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    direction: rtl;
    font-family: insans;
    font-size: 2em;
    
}

@keyframes menu {
    from {height: 0px; font-size: 0px;}
    to {height: 40.5%; font-size: 1em;}
}
@keyframes inp {
    from {height: 0px; }
    to {height: 90px; }
}
@keyframes inpsub {
    from {height: 0px; }
    to {height: 135px; }
}
.add {
    position: fixed;
    top: 15%;
    left: 7.5%;
    width: 85%;
    height: auto;
    padding: 0px;
    animation-name: menu;
    animation-duration: 1s;
    padding-bottom: 10px;
    background-image: linear-gradient(to bottom, peachpuff, coral );
    border:3px dashed black;
    border-top: 0px;
    }
.add_p {
    width:50%;
    font-size: 2.4em;
    font-family: irsans ;
    text-shadow: 2px 2px 7px black;
}
.add input {
    width: 45%;
    height: 90px;
    animation-name: inp;
    animation-duration: 1s;
    font-size: 2em;
}
.add_input {
    width: 45%;
    height: 90px;
    animation-name: inp;
    animation-duration: 1s;
    font-size: 2em;
}
.top1 {
    display: flex;
    justify-content: space-around;
}
#one {
    width: 90%;
    height: 90px;
    animation-name: inp;
    animation-duration: 1s;
    font-size: 3em;
}

#sub {
    margin-top: 20px;
    width: 100%;
    height: 135px;
    font-size: 4em;
    font-family: irsans ;
    animation-name: inpsub;
    animation-duration: 1s;
    background-color: lightgreen ;
    box-shadow: -5px -5px 10px inset;
}
#can {
    margin-top: 20px;
    width: 100%;
    height: 135px;
    font-size: 4em;
    font-family: irsans ;
    animation-name: inpsub;
    animation-duration: 1s;
    background-color: tomato ;
    box-shadow: -5px -5px 10px inset;
}

.editPage {
    position: fixed;
    width: 70%;
    height: 50%;
    top: 20%;
    left: 15%;
    border: 5px double maroon;
    background-color: rgba(255, 255, 0, 0.685);
    }
.delPage {
    position: fixed;
    width: 70%;
    height: 25%;
    top: 37.5%;
    left: 15%;
    border: 5px double aqua;
    background-color:rgba(128, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    }
.delPage p {
    font-size: 3em;
    font-family: irsans ;
    text-shadow: 5px 5px 10px black;
    color: white;
}
.delPage div {
    display: flex;
}
.subDel {
    width: 50%;
    height: auto;
    font-size: 4em;
    font-family: irsans ;
    background-color: red;
    box-shadow: -3px -3px 7px inset;
}
.canDel {
    width: 50%;
    height: auto;
    font-size: 4em;
    font-family: irsans ;
    background-color: yellow;
    box-shadow: -3px -3px 7px inset;
}
